In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

data = pd.read_csv('/content/vgames2.csv')
data.tail()

       Unnamed: 0                         Name  ... JP_Sales  Other_Sales
16593       16594      Ice Age 2: The Meltdown  ...        0         0.01
16594       16595  Rainbow Islands: Revolution  ...        0            0
16595       16596                     NBA 2K16  ...     0.03         0.13
16596       16597  Toukiden: The Age of Demons  ...     0.25         0.03
16597       16598     The King of Fighters '95  ...     0.16         0.01

[5 rows x 10 columns]